@import url("https://www.free-fonts.com/futura-lt-w01-light");
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

header{
    background-image: url(../images/5eac6c98a49545f38822ca343e02b2b9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar{
    overflow: hidden;
    font-family: Arial;
    padding: 50px 390px;
    background-color: white;
    justify-content: space-around;
}

.navbar a {
    float: left;
    font-size: 14px;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .active{
    background-color: #012646; 
    color: white;
    padding: 14.3px 14.3px;
    border: none;
}

.dropdown .active:hover{
    background-color: rgb(173, 216, 230);
    color: rgb(56, 56, 62);
}

.dropdown .dropbtn {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #bfd6ea;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    white-space: 5px;
} 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

 .dropdown-content a:hover {
    background-color: lightblue; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main{
    display: block;
    /* position: absolute; */
}

.bg-image h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    font: 53px "palatino linotype", serif;
    color: #012646;
    letter-spacing: 0.2em;
}

.tuition{
    background-color: #bfd6ea;
    text-align: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}

.tuition p{
    position: relative;
    top: 30px;
    font: 36px futura-lt-w01-light,sans-serif;
    color: #2f2e2e;
    letter-spacing: 0.05em;
    line-height: 4em;
    font-weight: 400;
    font-style: normal;
}

.tuition span{
    font: 16px futura-lt-w01-light,futura-lt-w05-light;
    color: #2f2e2e; 
    line-height: 2em; 
    letter-spacing: 0.05em;
}

.tuition .ln-2{
    font-weight: bold;
}

.tuition div{
    overflow-y: hidden;
}

.tuition div p{
    font-size: 21px;
    font-family:'Times New Roman', Times, serif;
    font-weight: lighter;
    line-height: 5em;
}

.tuition div span{
    font-size: 15px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tuition div .images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    width: 50%;
    height: 100%;
    margin: 2% 25%;
}

.tuition div .images .img1{
    padding: 15px 15px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.tuition div .images .img2{
    padding: 5px 15px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.tuition div .images .img3{
    padding: 15px 15px;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.tuition div .images a{
    color: #2f2e2e;
}

.tuition .list{
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    text-align: left;
    margin-left: 20%;
    line-height: 1.8em;
    font-size: 16px;
}

.tuition .list ul{
    font-family: Arial, Helvetica, sans-serif;
    color: #2f2e2e;
    font-weight: lighter;
}

.container{
    background-color: white;
    overflow-y: hidden;
    /* position: absolute; */
    /* bottom: 0; */
    /* height: 100%;
    width: 100%; */
}


.heading{
    font-family: "brandon-grot-w01-light",sans-serif;
    color:#000000;
    font-size:17px;
    text-align: center;
    position: relative;
    top: 20px;
}
.heading2{
    font-family: "brandon-grot-w01-light",sans-serif;
    color:#000000;
    font-size:17px;
    text-align: center;
    position: relative;
    top: 20px;
    padding-top:30px;
}
.content p{
    font-family:'futura-lt-w01-light',sans-serif;
    font-size:15px;
    line-height: 1.8em;
    word-spacing:8px;
}    
.content{
    position: relative;
    top:25px;
    bottom:50px;
    color: #000000;
    text-align: center;
    line-height: 2em;
}
.content ul{
    font-family:'futura-lt-w01-light',sans-serif;
    list-style: circle;
    font-size:15px;
    line-height: 2em;
    word-spacing:2px;
    position:relative;
    top:-12px;
}   
.content .end{
    position: relative;
    top:-25px;
    word-spacing: 2px;
}
.content .end1{
    position: relative;
    word-spacing:2px;
    top:-37px;
} 

.before-footer{
    text-align: center;
    padding: 100px 0;
    /* background-color: #012646; */
}

.before-footer span{
    font: 36px futura-lt-w01-light, sans-serif;
    color: #012646;
  
}

@media screen and (min-width: 866px){
    header{width: 100vw;}
}